main{

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.List{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
}

@media screen and (max-width:1074px) {
    .List{
        width: 75%;
        height: 100%;
    }
}